<h1>Professor Index</h1>

<% @professors.each do |professor| %>
  <h3>Name: <%= professor.name %>  </h3>
  <h3>Age: <%= professor.age %>  </h3>
  <h3>Specialty: <%= professor.specialty %>  </h3>
<% end %>
